<%- include("partials/header") -%>

<h1>Compose</h1>
<p>
    <form method="post" action="/compose">
    <input type="text" name="postText">
    <button type="submit" name="publish">Publish</button>
</form>
</p>

<%- include("partials/footer") -%>